.card {
	border: 1px solid #CECECE;
	width: 368px;
	box-shadow: 8px 8px rgba(230, 230, 230, 0.80);
}

.content{
	width:336px;
	padding: 16px;
}

.animal{
	width: 336px;
	height: 230px;
	object-fit: cover;
	padding: 16px;
}