.card {
	box-shadow: 8px 8px rgba(230, 230, 230, 0.80);
}

.outline {
	border: 1px solid #CECECE;
	padding: 16px;
}

.width-1 {
	width: 368px;
}

.animal{
	height: 230px;
	object-fit: cover;
	padding-bottom: 16px;
}

.copy {
	padding-top: 0px;
	width: 336px;
}

.snippet {
	font-style: italic;
}

ul {
	list-style: none;
	padding: 0;
}

.label {
	font-weight: bold;
}