.card {
	border: 1px solid #CECECE;
	width: 368px;
	box-shadow: 0 4px 8px #E6E6E6;
}

.content{
	width:336px;
	padding: 16px;
}

.animal{
	width: 336px;
	height: 230px;
	object-fit: cover;
	padding: 16px;
}